.landing-nav {
    background: linear-gradient(90deg, rgb(5, 39, 103) 0%, #3a0647 100%);
    height: 3.5rem;
    z-index: 1;
}

.landing-nav-inner {
    width: 100%;
    max-width: 1140px;
}

.landing-brand {
    gap: 0.6rem;
    font-size: 1.2rem;
}

.landing-brand-icon {
    height: 2rem;
    width: 2rem;
}
